# Discord
DISCORD_TOKEN=
DISCORD_DEVELOPMENT_GUILD_IDs=
DISCORD_BOT_DEVELOPERS_IDs=

# Postgres
POSTGRES_DB_USER=database
POSTGRES_DB_NAME=raphaeldb
POSTGRES_PASSWORD=database
POSTGRES_HOST=postgres

# Redis
REDIS_URL=redis://redis:6379
REDIS_PASSWORD=redis